* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

canvas {
  display: block;
  border: black;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible !important;
}

.show-btn {
  visibility: visible !important;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto Mono',
    monospace;
  background-image: linear-gradient(0deg, #21D4FD, #B721FF);
  /* background-color: #333; */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.last-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.last-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  /* background-image: url(../img/card-background.png); */
  background-clip: border-box;
  border-radius: 0.25rem;
  opacity: 0.90;

  height: 255px;
}

.first-card {
  z-index: -1;
}

.middle-card {
  /* background-image: url(../img/card-background.png); */
  /* background-color: transparent; */
  z-index: -1;
}

.last-card {
  z-index: -1;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2),
    0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

canvas {
  border-radius: 3px;
}

.icon {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  font-weight: 450;
  font-size: 20px;


}

.card-text-faded {
  font-size: 16px;
  color: grey;
}

.card-text-gold {
  font-weight: 100;
  font-size: 21px;
  color: #AAA500;

}

.card-text-paragraph {
  font-size: 17px;
}

.card-text-date {
  float: right;
  font-size: 15px;
  color: grey;
}

.card-text-education {
  font-size: 17px;
  float: left;
  margin-bottom: 0;
}

.card-text-link {
  color: #A73F15;
  text-decoration: none;
  font-size: 15px;
}

.card-text-link:hover {
  text-decoration: none;
}

.icons {
  text-align: center;
}

.play-btn {
  background-image: linear-gradient(100deg, #21D4FD, #B721FF);
  border-radius: 10%;
  padding: 2px 10px;
  width: 100px;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 25px;
}

.contact-brand {
  margin-left: 0px;
  margin-top: 0px;
  font-size: 30px;
}

.card-game-btn {
  margin-left: 20px;
  margin-top: 10px;
  font-size: large;
  font-weight: large;
}

.contact-info {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.contact-brand {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/* #particles-js {
  position: absolute;
  width: 100%;
  height: 160%;
} */

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.body-particles {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

.faded-text-game {
  border-top: 1px solid grey;
}

@media(max-width: 767px) {
  .card-text-date {
    float: right;
    display: block;
  }

  .card-text-education {
    float: none;
  }
}